
$brand-primary: rgb(4,0,131);
// $brand-primary: #3b5998;

@import "../../node_modules/bootstrap/scss/bootstrap-flex";
@import "prism.css";

.jumbotron {
  background: rgb(64, 117,113);
}

body {
  background: rgb(204,205,205)
}
